In [3]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [31]:
for num in range(10,20):
 print(num,end=" ")

10 11 12 13 14 15 16 17 18 19

In [13]:
lists=input().split()
int_list=list(map(int,lists))
print(int_list)
length=len(int_list)
print("Number of item in the Lists:\n",length)

 10 20 14 55 43 87 76

[10, 20, 14, 55, 43, 87, 76]
Number of item in the Lists:
 7

In [17]:
word=input("Enter:")
print(word)
for letter in word:
    print(letter)

Enter: Artificial Intelligence

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [23]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [29]:
tuples=(1,"Welcome",2,"Hope")
print(tuples)

(1, 'Welcome', 2, 'Hope')

In [33]:
tuple1=(0,1,2,3)
tuple2=("python","HOPE")
tuple3=(tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [65]:
lists=input().split()
int_list=list(map(int,lists))
tup=tuple(int_list)
print(tup)
for num in tup:
    if(num%2==1):
      print(num,"is odd")

 20 10 16 19 25 1 276 188

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [1]:
lists=input().split()
int_list=list(map(int,lists))
tup=tuple(int_list)
print(tup)
for num in tup:
    if(num%2==0):
      print(num,"is even")

 20 10 16 19 25 1 276 188

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even